<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="120.2.7" targetFramework="net462" />
  <package id="cef.redist.x86" version="120.2.7" targetFramework="net462" />
  <package id="CefSharp.Common" version="132.3.11" targetFramework="net462" />
  <package id="CefSharp.WinForms" version="132.3.11" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="132.3.1" targetFramework="net462" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="132.3.1" targetFramework="net48" />
  <package id="DockPanelSuite" version="3.1.1" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>